<h1>Here be the info for your pirate! Yarrr!</h1>
<h2>Pirate Name: <%= @pirate.name %></h2>
<h2>Pirate Weight: <%= @pirate.weight %></h2>
<h2>Pirate Height: <%= @pirate.height %></h2>

<h1>Here be the info for your pirate's ships! Yarrr!</h1>
<% @ships.each_with_index do |ship|  %>
<h2>Ship's name: <%= ship.name %></h2>
<h2>Ship's type: <%= ship.type %></h2>
<h2>Ship's booty: <%= ship.booty %></h2>
<% end %>
